<div class="page">
  <div class="container">
   <h1>Showing your selected shiz</h1>
   <div>
    Title: <%= @article.title %>
  </div>

  <div>
    Description: <%= @article.description %>
  </div>
  <%= link_to "Edit this shiz", edit_article_path(@article) %>
  <%= link_to "Back to shiz listing", articles_path %>
</div>
</div>

