<div class="page">
  <div class="container">
   <h1>Showing your selected shiz</h1>
   <div>
    Title: <%= @article.title %>
  </div>

  <div>
    Description: <%= @article.description %>
  </div>
</div>
</div>
