<div class="container">
  <footer class="footer">
    <small>
      <a>this shiz is produced by people practising rails</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %> </li>
      </ul>
    </nav>
  </footer>
</div>

